{%layout 'layout.liquid'%}
{%block content%}


{%for drink in drinks%}

<div class="card" style="width: 50rem;">
        <h5 class="card-header">{{ drink.strDrink}}</h5>
        <div class="card-body">
            <p class="card-text">
                glass: {{ drink.strGlass }}
            </p>
            <p class="card-text">
                Category: {{ drink.strCategory }}
            </p>
            <p class="card-text">
                Alcoholic or not: {{drink.strAlcoholic}}
            </p>
            <p class="card-text">
                Drink instructions: {{drink.strInstructions}}
            </p>
            <p class="card-text">
                Required glass: {{drink.strGlass}}
            </p>
            <p class="card-text">
                Drink ingredients: 
                <ul>
                        <li class="list-unstyled" >{{drink.strIngredient1}} {{drink.strMeasure1}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient2}} {{drink.strMeasure2}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient3}} {{drink.strMeasure3}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient4}} {{drink.strMeasure4}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient5}} {{drink.strMeasure5}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient6}} {{drink.strMeasure6}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient7}} {{drink.strMeasure7}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient8}} {{drink.strMeasure8}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient9}} {{drink.strMeasure9}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient10}} {{drink.strMeasure10}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient11}} {{drink.strMeasure11}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient12}} {{drink.strMeasure12}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient13}} {{drink.strMeasure13}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient14}} {{drink.strMeasure14}}</li>
                        <li class="list-unstyled" >{{drink.strIngredient15}} {{drink.strMeasure15}}</li>
                </ul>
            </p>
            <img src="{{drink.strDrinkThumb}}" width="300px" height="300px"></a>
        </div>
    </div>
    <div class="container-sm">
        <form action="/drink/favedrink" method="POST">
            <fieldset>
                <input 
                    type="text" 
                    name="strDrinkThumb" 
                    value="{{drink.strDrinkThumb}}" 
                    placeholder="Enter Drink name"
                    class="form-control"
                    hidden
                >
                <input 
                    type="text" 
                    name="idDrinkDrink" 
                    value="{{drink.idDrink}}" 
                    placeholder="Enter Drink name"
                    class="form-control"
                    hidden
                >
                <input 
                    type="text" 
                    name="strDrink" 
                    value="{{drink.strDrink}}" 
                    placeholder="Enter Drink name"
                    class="form-control"
                    hidden
                >
                <input 
                    type="text" 
                    name="strCategory" 
                    value="{{drink.strCategory}}" 
                    placeholder="Enter Drink category" 
                    class="form-control"
                    hidden
                >
                
                <input 
                    type="text" 
                    name="strIngredient1" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient1}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient2" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient2}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient3" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient3}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient4" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient4}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient5" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient5}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient6" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient6}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient7" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient7}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient8" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient8}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient9" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient9}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient10" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient10}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient11" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient11}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient12" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient12}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient13" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient13}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient14" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient14}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strIngredient15" 
                    class="form-control"
                    placeholder="Only one ingredient per line"
                    value="{{drink.strIngredient15}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure1" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure1}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure2" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure2}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure3" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure3}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure4" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure4}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure5" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure5}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure6" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure6}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure7" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure7}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure8" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure8}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure9" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure9}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure10" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure10}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure11" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure11}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure12" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure12}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure13" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure13}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure14" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure14}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strMeasure15" 
                    class="form-control"
                    placeholder="Make sure to include a unit!"
                    value="{{drink.strMeasure15}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strInstructions" 
                    class="form-control"
                    placeholder="Make sure to list all steps!"
                    value="{{drink.strInstructions}}"
                    hidden
                >
                <input 
                    type="text" 
                    name="strGlass" 
                    class="form-control"
                    placeholder="Ex: shot, margarita, jar etc."
                    value="{{drink.strGlass}}"
                    hidden
                >
                <input 
                    type="checkbox" 
                    name="strAlcoholic" 
                    class="form-check-input"
                    value="{{drink.strAlcoholic}}"
                    hidden
                > <br>
            </fieldset>
            <input type="submit" value="Favorite this drink" class="btn btn-success">
        </form>
    </div>
{%endfor%}
{%endblock%}