{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/drink" method="POST">
        <fieldset>
            <legend>Create Your Own Drink!</legend>
            <label class="form-label">Drink name: </label>
            <input 
                type="text" 
                name="strDrink" 
                value="{{strDrink}}" 
                placeholder="Enter Drink name"
                class="form-control"
            >
            <label class="form-label">Drink category:</label>
            <input 
                type="text" 
                name="strCategory" 
                value="{{strCategory}}" 
                placeholder="Enter Drink category" 
                class="form-control"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient1" 
                value="{{strIngredient1}}"
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure1" 
                value="{{strMeasure1}}" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient2" 
                value="{{strIngredient2}}"
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure2" 
                value="{{strMeasure2}}"
 }}               class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient3" 
                value="{{strIngredient3}}" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure3" 
                value="{{strMeasure3}}"
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient4" 
                value="{{strIngredient4}}"
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure4" 
                value="{{strMeasure4}}"
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient5" 
                value="{{strIngredient5}}"
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure5" 
                value="{{strMeasure5}}"
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient6" 
                value="{{strIngredient6}}" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure6" 
                value="{{strMeasure6}}"
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient7" 
                value="{{strIngredient7}}" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure7" 
                value="{{strMeasure7}}" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient8" 
                value="{{strIngredient8}}" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure8" 
                value="{{strMeasure8}}" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient9" 
                value="{{strIngredient9}}"
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure9" 
                value="{{strMeasure9}}" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient10" 
                value="{{strIngredient10}}"
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure10" 
                value="{{strMeasure10}}" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient11"
                value="{{strIngredient11}}"  
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure11" 
                value="{{strMeasure11}}" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient12" 
                value="{{strIngredient12}}" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure12" 
                value="{{strMeasure12}}" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient13" 
                value="{{strIngredient13}}" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure13"
                value="{{strMeasure13}}"  
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient14" 
                value="{{strIngredient14}}" 
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure14" 
                value="{{strMeasure14}}"
                class="form-control"
                placeholder="Make sure to include a unit!"
            >
            <label class="form-label">Drink ingredient:</label>
            <input 
                type="text" 
                name="strIngredient15" 
                value="{{strIngredient15}}"
                class="form-control"
                placeholder="Only one ingredient per line"
            >
            <label class="form-label">How much ingredient:</label>
            <input 
                type="text" 
                name="strMeasure15" 
                value="{{strMeasure15}}" 
                class="form-control"
                placeholder="Make sure to include a unit!"
            > 
            <label class="form-label">How do you make it?:</label>
            <input 
                type="text" 
                name="strInstructions" 
                value="{{strInstructions}}" 
                class="form-control"
                placeholder="Make sure to list all steps!"
            >
            <label class="form-label">What glass are you preparing it in?:</label>
            <input 
                type="text" 
                name="strGlass" 
                value="{{strGlass}}" 
                class="form-control"
                placeholder="Ex: shot, margarita, jar etc."
            >
            <br>
            <label class="form-label">Alcoholic or no?:</label>
            <input 
                type="checkbox" 
                name="strAlcoholic" 
                value="{{strAlcoholic}}"
                class="form-check-input"
            > <br>
        </fieldset>
        <input type="submit" value="Confirm Edit Drink" class="btn btn-success">
    </form>
</div>
{% endblock %}