{% layout "layout.liquid" %}
{% block content %}
    <h1>All my favorited Drinks</h1>
    <div class="container-md">
        <div class="row">
    {%for drink in drinks%}
    <br>
        {% if drink.idDrink > 0 %}
        <div class="col-md-3" style="padding: 4px;">
            <div class="card" style="width: mx-auto; padding: 4px; color: blue;">
                <h5>Drink name: </h5>
                    <p>{{drink.strDrink}}</p>
                <h5>Drink category: </h5>
                    <p>{{drink.strCategory}}</p>
                <h5>
                    {% if drink.strAlcoholic == true %}
                        Alcoholic
                    {% endif %}
                    {% if drink.strAlcoholic == false %}
                        Non-Alcoholic
                    {% endif %}
                </h5>
                <img alt= "One of your favorite drinks!" src="{{drink.strDrinkThumb}}" width="250px" height="250px">

                <h5>Drink ingredients: </h5>
                <ul>
                    <li class="list-unstyled" >{{drink.strIngredient1}} {{drink.strMeasure1}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient2}} {{drink.strMeasure2}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient3}} {{drink.strMeasure3}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient4}} {{drink.strMeasure4}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient5}} {{drink.strMeasure5}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient6}} {{drink.strMeasure6}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient7}} {{drink.strMeasure7}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient8}} {{drink.strMeasure8}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient9}} {{drink.strMeasure9}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient10}} {{drink.strMeasure10}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient11}} {{drink.strMeasure11}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient12}} {{drink.strMeasure12}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient13}} {{drink.strMeasure13}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient14}} {{drink.strMeasure14}}</li>
                    <li class="list-unstyled" >{{drink.strIngredient15}} {{drink.strMeasure15}}</li>
                </ul>

                <h5>Drink instructions: </h5>
                    <p>{{drink.strInstructions}}</p>

                <h5>Required glass: </h5>
                    <p> {{drink.strGlass}}</p>
            </div>
            </div>
        {% endif %}
    {%endfor%}
        </div>
    </div>
{%endblock %}