{%layout 'layout.liquid'%}
{%block content%}


{%for drink in drinks%}

<h1>Drink name: {{drink.strDrink}}</h1>
<h2>Drink category: {{drink.strCategory}}</h2>
<h3>Alcoholic or not: {{drink.strAlcoholic}}</h3>
<img src="{{drink.strDrinkThumb}}" width="250px" height="250px">

<h2>Drink ingredients: </h2>
<ul>
        <li class="list-unstyled" >{{drink.strIngredient1}} {{drink.strMeasure1}}</li>
        <li class="list-unstyled" >{{drink.strIngredient2}} {{drink.strMeasure2}}</li>
        <li class="list-unstyled" >{{drink.strIngredient3}} {{drink.strMeasure3}}</li>
        <li class="list-unstyled" >{{drink.strIngredient4}} {{drink.strMeasure4}}</li>
        <li class="list-unstyled" >{{drink.strIngredient5}} {{drink.strMeasure5}}</li>
        <li class="list-unstyled" >{{drink.strIngredient6}} {{drink.strMeasure6}}</li>
        <li class="list-unstyled" >{{drink.strIngredient7}} {{drink.strMeasure7}}</li>
        <li class="list-unstyled" >{{drink.strIngredient8}} {{drink.strMeasure8}}</li>
        <li class="list-unstyled" >{{drink.strIngredient9}} {{drink.strMeasure9}}</li>
        <li class="list-unstyled" >{{drink.strIngredient10}} {{drink.strMeasure10}}</li>
        <li class="list-unstyled" >{{drink.strIngredient11}} {{drink.strMeasure11}}</li>
        <li class="list-unstyled" >{{drink.strIngredient12}} {{drink.strMeasure12}}</li>
        <li class="list-unstyled" >{{drink.strIngredient13}} {{drink.strMeasure13}}</li>
        <li class="list-unstyled" >{{drink.strIngredient14}} {{drink.strMeasure14}}</li>
        <li class="list-unstyled" >{{drink.strIngredient15}} {{drink.strMeasure15}}</li>
</ul>

<h3>Drink instructions: </h3>
<h5>{{drink.strInstructions}}</h5>

<h4>Required glass: {{drink.strGlass}}</h4>

{%endfor%}
{%endblock%}